.clients {
  &__header {
    font-weight: 700;
    font-size: 36px;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;

    &__item {
      display: flex;
      border: 1px solid $BrandColorSixth;
      border-radius: 4px;
      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border: 1px solid $BrandColorFirst;
      }
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $BrandColorSixth;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover > svg {
      fill: $BrandColorFirst;
    }

    &:focus > svg {
      fill: $BrandColorFirst;
    }
  }
}
