.footer {
  display: flex;
  background-color: $BrandColorSecond;
  text-align: left;

  &__logo {
    padding: 60px 0 25px 15px;

    &__link {
      font-family: "Raleway", sans-serif;

      text-decoration: none;
      color: $MainColorSecond;
      span {
        color: $BrandColorFirst;
      }
    }
  }

  &__info {
    padding-top: 20px;
  }

  &__address {
    color: $MainColorSecond;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
  }

  &__contact {
    color: $BrandColorFifth;

    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $BrandColorFirst;
    }
  }

  &__socials {
    color: $MainColorSecond;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 72px 78px 0 70px;

    &__box {
      display: flex;
      justify-content: space-between;
      width: 206px;
      padding-top: 20px;
    }
    &__icon {
      width: 20px;
      height: 20px;
      fill: $BrandColorSixth;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
      display: flex;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      align-items: center;
      justify-content: space-evenly;
      text-decoration: none;
      background-color: $BrandColorSeventh;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: $BrandColorFirst;
      }

      &:hover > svg {
        fill: $MainColorSecond;
      }

      &:focus {
        background-color: $BrandColorFirst;
      }

      &:focus > svg {
        fill: $MainColorSecond;
      }
    }
  }
  &__newsletter {
    display: flex;
    padding-top: 72px;

    &__label {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }
    &__box {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
    }

    &__input {
      color: $MainColorSecond;
      width: 358px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      margin-right: 12px;
      background-color: $BrandColorSecond;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        padding-left: 16px;
        color: $BrandColorSixth;
      }
    }
    &__button {
      display: flex;
      align-items: center;
      text-align: center;
      width: 200px;
      height: 50px;
      background: $BrandColorFirst;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      padding: 0;

      &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $MainColorSecond;
        padding-left: 42px;
      }

      &__icon {
        fill: $MainColorSecond;
        width: 24px;
        height: 24px;
        padding-left: 24px;
      }
    }
  }
}
