.lorem-list {
  &__item {
    width: 270px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    padding: 30px 0 10px 0;
  }

  &__text {
    color: $BrandColorThird;
    font-size: 14px;
    line-height: 1.71;
  }

  &__icon {
    padding: 25px 100px;
    height: 70px;
    width: 70px;
    background-color: $BrandColorFourth;
  }
}
