.main-header-sec {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-header-background.jpg");
  width: 1600px;
  padding: 200px 0;
}
.main-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  color: var(--main-color-second);
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-left: 252px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.header-button {
  color: var(--main-color-second);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--brand-color-first);
  cursor: pointer;
  width: 200px;
  border-radius: 4px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 500px;
  margin-top: 30px;
}
